body{
    background-color: #656565;
    text-align: center;
    font-size: 12px;
    font-family:  cursive;
    color: #ffffff;
    font-weight: 100;
    margin-bottom: 60px;
}
h2{
    font-size: 10px;
}